<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Welkompagina')"></head>
<body>
<nav th:replace="fragments::header"></nav>
<div class="container" >
    <!--<h1>Star wars</h1>-->
    <ul>
        <li>
            <a th:href="@{/films/form}">Film zoeken</a>
        </li>
        <li>
            <a th:href="@{/gemiddeldescores}">Gemiddelde scores</a>
        </li>
    </ul>
    <form sec:authorize="isAuthenticated()" method="post" th:action="@{/logout}">
        <button><th:block sec:authentication="name"></th:block> **UITLOGGEN** </button>
    </form>
</div>
</body>
</html>
